.navegacion{
    background-color: #2b669a;
    margin-bottom: 10px;
}
.jumbotron{
    background-color: #cccc33;
}
.main{
    background-color: #e4606d;
}
.seccion2{
    background-color: white;
}
.articulo{
    background-color: lightgreen;
}
.paginacion{
    background-color: #cccc33;
}
.aside{
    background-color: orangered;
    height: 150px;
}
.footer{
    background-color: darkgray;
}